<h2>マイページ</h2>

登録情報 <%= link_to 編集する, public_customer_path(customer.id) %>
<div>
  <li>氏名</li>
</div>
<div>
  <li>カナ</li>
</div>
<div>
  <li>郵便番号</li>
</div>
<div>
  <li>住所</li>
</div>
<div>
  <li>電話番号</li>
</div>
<div>
  <li>メールアドレス</li>
</div>