<h2>商品一覧</h2>

<div class="item-list-index">
  <% @items.each do |item| %>
    <div>
      <div><%= attachment_image_tag item, :image, :fill, 300, 300 %></div>
      <div><%= link_to item.name, public_item_path(item.id) %></div>
      <div>¥<%= item.price %></div>
    </div>
  <% end %>
</div>

<div class="pagination">
          <p><<</p>
          <p><</p>
          <p>1</p>
          <p>2</p>
          <p>3</p>
          <p>></p>
          <p>>></p>
</div>